<app-header *ngIf="header" @fadeInOut [componentPositions]="root_DOM_Components_PositionY"
    (scrollByFunction)="setScrollByFunctionValue($event)" (openMobileMenu)="toggleMobileMenu($event)">
</app-header>
<div *ngIf="!header" @fadeInOut (click)="showHeader()" class="headerDownArrow" [innerHTML]="headerArrow_symbol">
</div>
<div #appComponents class="page">
    <app-welcome></app-welcome>
    <app-skills></app-skills>
    <app-projects></app-projects>
    <app-personal-info></app-personal-info>
    <app-contact></app-contact>
</div>
<app-footer></app-footer>