$sidePadding_Desktop: 16%;
$sidePadding_Mobile: 20px;
$scrollbarWidth: 17px;

$backgroundColor: rgb(16, 16, 16);

$maxWidth_Mobile: 524px;

$ComponentBgColorDOWN: linear-gradient(to bottom, #163535, #162830, #181b23, #131014, #111010);
$ComponentBgColorUP: linear-gradient(to top, #163535, #162830, #181b23, #131014, #111010);
