<script src="personal-info.component.ts"></script><h1 [innerHTML]="'personalInfo.title' | translate">Über mich</h1>

<span class="instructions" [innerHTML]="'personalInfo.personalText' | translate"></span>

<main *ngFor="let date of personalData; index as index">
    <content class="content">
        <div class="year_dot">
            <span>{{ date.year }}</span>
            <div></div>
        </div>
        <span [innerText]="'personalInfo.' + date.description | translate"></span>
    </content>
    <div class="line"></div>
    <p *ngIf="arrayLength == index + 1">&#8897;</p>
</main>

<a style="display: none" #openCV target="_blank"></a>

<button class="cvButton" (click)="showCV('https://danieldoerbaum.de/downloads/danieldoerbaum.pdf')"><span>{{ 'downloadCV' | translate}}</span></button>