@import "/src/shared/_variables.scss";

h1 {
	font-size: 2rem;
	font-weight: bolder;
	margin-top: 2.5px;
}

nav {
	width: fit-content;
	display: flex;
	gap: 30px;

	div {
		display: flex;
		justify-content: center;
		align-items: center;

		gap: 3px;

		span:nth-child(1),
		span:nth-child(3) {
			color: rgb(176, 176, 176);

			&:hover {
				cursor: pointer;
			}

			&.active {
				color: white;
				text-decoration: underline 2px $Turquoise;
				pointer-events: none;
			}
		}
	}
}
