<h1 [innerHTML]="'projects.title' | translate">###</h1>

<main *ngFor="let project of projects; let Index = index">
    <h1 *ngIf="!responsive_hide">{{ Index + 1 }}</h1>
    <content>
        <h2>{{ project.Title }}</h2>
        <img src="{{ project.ImgSrc }}" alt="projectImg">
        <div class="projectInfo">
            <span>{{ "projects." + project.InfoText | translate }}</span>
            <span>{{ project.Particularities }}</span>
        </div>
    </content>
</main>

<div *ngIf="infoBox" class="shadow {{  infoBoxClass }}"></div>
<div *ngIf="infoBox" class="infobox {{  infoBoxClass }}">{{ 'infobox' | translate }}</div>