<h1 [innerHTML]="'contact.text.interest' | translate">###</h1>
<!-- <div class="socialMedia">
    <h2 [innerHTML]="'contact.text.contact' | translate">###</h2>
    <div>
        <img *ngFor="let img of contactImg" [src]="img.localSrc">
    </div>
</div> -->
<div class="contactForm">
    <!-- <h2 [innerHTML]="'contact.text.contact_here' | translate">###</h2> -->
    <form (submit)="sendMail()" ngNativeValidate #contactform>
        <div class="cube input">
            <div class="border"></div>
            <input required name="name" [placeholder]="'contact.form.name' | translate" #nameField>
        </div>
        <div class="cube input">
            <div class="border"></div>
            <input required name="email" [placeholder]="'contact.form.mail' | translate" #mailField>
        </div>
        <div class="cube text">
            <div class="borderTextarea"></div>
            <textarea required name="message" [placeholder]="'contact.form.message' | translate"
                #messageField></textarea>
        </div>
        <div class="cube buttom">
            <div class="borderButton"></div>
            <button translate #formButton>Send</button>
        </div>
    </form>
</div>