$sidePadding_Desktop: 16%;
$scrollbarWidth: 17px;

$White: #ffffff;
$Yellow: #ffbf49;
$Turquoise: #00f6d8;
$Green_dark: #163535;
$Black: #000000;
$Transparent: rgba(0, 0, 0, 0);

$ComponentBgColorDOWN: linear-gradient(to bottom, #163535, #162830, #181b23, #131014, #111010);
$ComponentBgColorUP: linear-gradient(to top, #163535, #162830, #181b23, #131014, #111010);
