<content>
    <div></div>
    <img src="./assets/images/icons/html.png" alt="HTML">
    <span>HTML5</span>
</content>
<content>
    <div></div>
    <img src="./assets/images/icons/css.png" alt="CSS">
    <span>CSS</span>
</content>
<content>
    <div></div>
    <img src="./assets/images/icons/javascript.png" alt="JS">
    <span>JavaScript</span>
</content>
<content>
    <div></div>
    <img src="./assets/images/icons/typescript.png" alt="Typescript">
    <span>TypeScrip</span>
</content>
<content>
    <div></div>
    <img src="./assets/images/icons/angular.png" alt="Angular">
    <span>Angular</span>
</content>
<content>
    <div></div>
    <img src="./assets/images/icons/api.png" alt="API">
    <span>API</span>
</content>
<content>
    <div></div>
    <img src="./assets/images/icons/git.png" alt="Git">
    <span>Git</span>
</content>
<content>
    <div></div>
    <img src="./assets/images/icons/scrum.png" alt="Scrum">
    <span>Scrum</span>
</content>