@import "/src/shared/_variables.scss";

.page {
	width: 100%;
	height: fit-content;
	display: flex;
	flex-direction: column;
	overflow-y: auto;
	background-image: $ComponentBgColorDOWN;
}

app-header {
	position: fixed;
	top: -40px;
	left: $sidePadding_Desktop;
	right: $sidePadding_Desktop;
	height: 40px;
	padding: 0 28px;

	background-color: rgba(68, 68, 68, 0.905);

	border: 1px solid white;
	border-radius: 12px;
	color: white;

	display: flex;
	justify-content: space-between;
	align-items: center;

	z-index: 9999;

	&.animateDown {
		transform: translate3d(0, 0, 0);
		animation: showHeader 235ms ease-in-out;
	}

	&.animateUp {
		transform: translate3d(0, +160%, 0);
		animation: hideHeader 235ms ease-in-out;
	}

	&.showState {
		transform: translate3d(0, +160%, 0);
	}

	&.hideState {
		transform: translate3d(0, 0, 0);
	}
}

@keyframes showHeader {
	100% {
		transform: translate3d(0, +160%, 0);
	}
}

@keyframes hideHeader {
	100% {
		transform: translate3d(0, 0, 0);
	}
}

app-welcome {
	position: relative;
	height: 100vh;

	width: 100%;
	padding: 0 $sidePadding_Desktop;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	color: white;
}

app-projects {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
	width: 100%;
	padding: 0 $sidePadding_Desktop;

	gap: 30px;
}

app-personal-info {
	display: flex;
	flex-direction: column;
	align-items: start;
	justify-content: center;
	height: 100vh;
	width: 100%;
	padding: 0 $sidePadding_Desktop;
}

app-contact {
	width: 100%;
	padding: 0 $sidePadding_Desktop;
	height: 100vh;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

app-footer {
	width: 100%;
	padding: 0 $sidePadding_Desktop;
	height: 25vh;
	background-color: $Green_dark;
}
