@import "/src/shared/_variables.scss";

.page {
	width: 100vw;
	height: fit-content;
	display: flex;
	flex-direction: column;
	overflow-y: auto;
	background-image: $ComponentBgColorDOWN;
	padding: 0 $sidePadding_Desktop;
	gap: 30px;
}

@media (max-width: $maxWidth_Mobile) {
	.page {
		padding: 0 $sidePadding_Mobile;
	}
}
