<h1 [innerText]="'contact.title.interest' | translate">###</h1>
<div class="contactForm">
    <form (submit)="sendMail()" ngNativeValidate #contactform>
        <div class="cube input">
            <div class="border"></div>
            <input required name="name" [placeholder]="'contact.form.name' | translate" #nameField>
        </div>
        <div class="cube input">
            <div class="border"></div>
            <input required name="email" [placeholder]="'contact.form.mail' | translate" #mailField>
        </div>
        <div class="cube text">
            <div class="borderTextarea"></div>
            <textarea required name="message" [placeholder]="'contact.form.message' | translate"
                #messageField></textarea>
        </div>
        <div class="cube buttom">
            <div class="borderButton"></div>
            <button [innerText]="'contact.button' | translate">Send</button>
        </div>
    </form>
</div>