@import "/src/shared/_variables.scss";

:host {
	display: flex;
	flex-direction: column;
	align-items: start;
	justify-content: center;
	min-height: 100vh;
	width: 100%;

	gap: 30px;
}

h1 {
	width: 100%;
	text-align: center;
	font-size: 3rem;
}

.instructions {
	font-size: 1.3rem;
}

content {
	display: flex;
	justify-content: center;
	align-items: center;

	span {
		font-size: 1.2rem;
	}
}

.year_dot {
	display: flex;
	align-items: center;

	span {
		width: 48px;
	}

	div {
		height: 16px;
		width: 16px;
		border-radius: 100%;
		margin-right: 16px;
		background-image: linear-gradient(
			to right bottom,
			#bc13fe,
			#ca27fe,
			#d636fe,
			#e244fe,
			#ed51fe,
			#c076ff,
			#978dff,
			#799bff,
			#22abf9,
			#00b4e4,
			#21b9c9,
			#5ebab0
		);
	}
}

.line {
	width: 2px;
	height: 40px;
	border-radius: 1px;
	background-image: linear-gradient(
		to right bottom,
		#bc13fe,
		#ca27fe,
		#d636fe,
		#e244fe,
		#ed51fe,
		#c076ff,
		#978dff,
		#799bff,
		#22abf9,
		#00b4e4,
		#21b9c9,
		#5ebab0
	);
	margin: 0 7px;
	position: relative;
	left: 48px;
}

p {
	font-size: 20px;
	background-image: linear-gradient(
		to right top,
		#d16ba5,
		#c777b9,
		#ba83ca,
		#aa8fd8,
		#9a9ae1,
		#8aa7ec,
		#79b3f4,
		#69bff8,
		#52cffe,
		#41dfff,
		#46eefa,
		#5ffbf1
	);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-weight: bold;
	position: relative;
	top: -5px;
	left: 47px;
}

@media (max-width: $maxWidth_Mobile) {
	content {
		align-items: start;
		flex-direction: column-reverse;
	}
}
