<h1>Über mich</h1>

<span class="instructions">
    2015 Begann nach dem absolvieren der Realschule für mich der Eintritt ins Berufssleben. Hier begann ich eine
    Ausbildung zum Technischen Modellbauer im Lehrenbau. Seitdem bin ich in der Autobranche tätig. Zulätzt in der
    Qualitätssicherung. Aber was treibt mich vom Handwerk in die Softwareentwicklung? Bevor ich meine Ausbildung begann
    hatte ich mich schon mit Computern beschäftigt. Als es dann zur auswahl eines Berufes kahm, waren leider die
    Berufsbilder der IT für mich nicht greifbar, schon daher, dass es in meinem damaligen Wohnort keine solcher stellen
    gab.
    Seit 2020 hatte ich mich dann entschieden, zu versuchen diesen Weg endlich doch zu gehen. Ich überlegte lange in
    welche Branche ich genau gehen soll. Nachdem es mich aber immer wieder zum Programmieren gezogen hatte, entschied
    ich mich dann für die unten genannte Umschulung.
</span>

<main *ngFor="let date of personalData; index as index">
    <content class="content">
        <div class="year_dot">
            <span>{{ date.year }}</span>
            <div></div>
        </div>
        <span [innerHTML]="'personalInfo.' + date.description | translate"></span>
    </content>
    <div class="line"></div>
    <p *ngIf="arrayLenght == index + 1">&#8897;</p>
</main>