@import "/src/shared/_variables.scss";

/* You can add global styles to this file, and also import other style files */
@font-face {
	font-family: BlackOpsOne;
	src: url(./assets/fonts/BlackOpsOne-Regular.ttf);
}

@font-face {
	font-family: SulphurPoint_Light;
	src: url(./assets/fonts/SulphurPoint-Light.ttf);
}

@font-face {
	font-family: SulphurPoint_Regular;
	src: url(./assets/fonts/SulphurPoint-Regular.ttf);
}

@font-face {
	font-family: SulphurPoint_Bold;
	src: url(./assets/fonts/SulphurPoint-Bold.ttf);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: SulphurPoint_Regular, sans-serif;
	color: white;
}

html {
	scrollbar-width: none;
	background-color: black;

	& ::-webkit-scrollbar {
		display: none;
	}
}
