/* You can add global styles to this file, and also import other style files */
@font-face {
	font-family: BlackOpsOne;
	src: url(./assets/fonts/BlackOpsOne-Regular.ttf);
}

@font-face {
	font-family: SulphurPoint_Light;
	src: url(./assets/fonts/SulphurPoint-Light.ttf);
}

@font-face {
	font-family: SulphurPoint_Regular;
	src: url(./assets/fonts/SulphurPoint-Regular.ttf);
}

@font-face {
	font-family: SulphurPoint_Bold;
	src: url(./assets/fonts/SulphurPoint-Bold.ttf);
}

body {
	background-color: black;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: SulphurPoint_Regular, sans-serif;
	font-size: 1rem;
	color: white;
}

// scrollbar
::-webkit-scrollbar {
	// width: 10px;
	width: 0;
}

::-webkit-scrollbar-track {
	background: #f1f1f1;
	// border-radius: 5px;
	// margin: 10vh 0;
}

::-webkit-scrollbar-thumb {
	background: #888;
	// border-radius: 5px;

	&:hover {
		background: #555;
	}
}
