@import "/src/shared/_variables.scss";

:host {
	margin-top: 80px;
	display: flex;
	flex-direction: column;
}

div {
	display: flex;
	justify-content: center;
	align-items: center;

	img {
		height: 100px;
		margin-right: 30px;
	}

	span {
		font-size: 18px;
	}
}

app-skills {
	margin-top: 36px;
	display: flex;
	align-items: center;
	justify-content: center;
}

@media (max-width: $maxWidth_Mobile) {
	:host {
		margin-top: 10px;
	}
}
