@import "/src/assets/shared/_variables.scss";

:host {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	width: calc(100dvw - 1px);
	height: 120px;

	background-image: $backgroundColorGradient;
}

:host,
.main {
	border-top-right-radius: 12px;
	border-top-left-radius: 12px;
}

.main {
	position: absolute;
	width: calc(100% - 2px);
	height: calc(100% - 2px);
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 30px;
	padding: 0 $sidePadding_Desktop;
	background-color: $backgroundColor;
}

nav {
	width: 50%;
	height: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.separator {
	height: 80%;
	width: 2px;
	background-color: white;
}

@media (max-width: 824px) {
	.main {
		padding: 0 $sidePadding_Mobile;
	}
}

@media (max-width: 624px) {
	nav {
		flex-direction: column;
		justify-content: center;
	}
}
